# Ignore everything in this directory (the src folder)
/*

# Specifically un-ignore your two packages
!/hsr_mm_control/
!/hsr_vision/

# Make sure Git still tracks the .gitignore itself
!/.gitignore

